.select {
    position: relative;
    min-width: 80px;
  }
  .select select {
    /* -webkit-appearance: none; */
    padding: 7px 10px 7px 12px;
    width: 100%;
    border: 2px solid #dcdada;
    border-radius: 1px;
    background: #fff;
    box-shadow: 0 1px 3px -2px black;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
    color: black;
  }
  .select select:required:invalid {
    color: black;
  }
  .select select option {
    color: black;
  }
  .select select option[value=""][disabled] {
    display: none;
  }
  .select select:focus {
    outline: none;
    border-color: black;
    box-shadow: 0 0 0 2px rgba(15, 15, 15, 0.2);
  }
  .select select:hover {
    stroke: black;
  }